.jumbotron {
	background-color:#1d68b3; 
	color: #ffffff;
	
	
/* Add a dark blue background color with a little bit see-through */
}
.navbar {
	margin-bottom: 0;
	background-color: #1259b6;
	border: 0;
	font-size: 18px !important;
	letter-spacing: 2px;
	opacity: 0.9;
	
	
}




/* Add light blue color to all navbar links */
.navbar li a, .navbar .navbar-brand {
	color: rgb(241, 241, 241) !important;
}
/* On hover, the links will turn white */
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #0000ff !important;
	background-color: #fff !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: rgb(45, 58, 233)255, 255, 255)119, 25, 25) !important;
}


footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #0066cc;
	opacity: 0.9;
}

#smile{
	width: 200px;
	height: 200px;
}

#total{
	background-color: yellow;
}