#homepage {
	background-color: #c7c7ff;
	width: 800px;
	font-size: 16px;
	height: 600px;
	
	
}
.body{
	background-image: url("background.jpg");
		
  background-repeat: no-repeat, repeat;
}

h4 {
	font-weight: bold;
}
.form{
	
	padding: $ruler;
	width: $ruler*20;
	margin: 0 auto;
  }
}